body
{
    font-family: monospace;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

li {
    display: inline-block;
}

input[type=text] {
    width: 3em;
}

@media print {
    .options
    {
        display: none;
    }
}

.options {
    margin-bottom: 1em;
}

.options > li {
    margin-right: 1em;
}

.sum
{
    font-size: 30px;
    margin-bottom: 0.75em;
    margin-right: 1em;
    display: inline-block;
}

.row
{
    width: 100%;
    text-align: right;
}

.bottomRow
{
    border-bottom: black 1px solid;
}