body
{
    font-family: monospace;
}

@media print {
    #options
    {
        display: none;
    }
}

.sum
{
    font-size: 30px;
    padding-bottom: 3em;
    margin-right: 2em;
    display: inline-block;
}

.row
{
    width: 100%;
    text-align: right;
}

.bottomRow
{
    border-bottom: black 1px solid;
}